#svg1Container {
    width: 100%;
}

#svg1ProccessSubHeader {
    font-size: 0.09em;
}

#svg1ProccessTitle {
    font-size: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
}

#svg1NodeId {
    font-size: 0.1em;
    text-align: right;
}

#node-detail-go-back-link {
    text-decoration: none;
    color: inherit;
}

#node-actions {
    background-color: #9CF09D;
    height: 40px;
    color: white;
    font-size: 16px;
}

#node-actions .container,
#node-actions .container .row{
    height: 100%;
}

#node-actions-right {
    text-align: right;
}

/* Bottom half of the detailed view */
#NodeDetailContent {
    padding: 10px 8% 20px 8%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#NodeDetailContent > #Navigation {
    width: 300px;
    height: 100%;
}

#NodeDetailContent > #NestedRouterComponent {
    width: 100%;
    height: 100%;
}




